@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPNeueMachina';
  src: url('/assets/fonts/PPN/PPNeueMachina-PlainRegular.otf');
}

@font-face {
  font-family: 'PPNeueMachinaBold';
  src: url('/assets/fonts/PPN/PPNeueMachina-PlainUltrabold.otf');
}

body {
  font-family: 'PPNeueMachina';
  background-color: #f9fafb;
}
.login-box {
  box-shadow: 0 4px 40px #0a0a2f;
}
