@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPNeueMachina';
  src: url('/assets/fonts/PPN/PPNeueMachina-PlainRegular.otf');
}

@font-face {
  font-family: 'PPNeueMachinaBold';
  src: url('/assets/fonts/PPN/PPNeueMachina-PlainUltrabold.otf');
}

body {
  font-family: 'PPNeueMachina';
}
.login-area {
  background-color: #001a1a;
}
.box-border {
  border-color: #e5e7eb;
  border-top-color: #fbbf24;
}
.label-color {
  color: #374151;
}
